<h1>{{ pageTitle }}</h1>

<div class="card" >
  <div class="card-header">
    Products list
  </div>
  <div class="card-body">
    <app-input-filter (filterKeyWord)="setFilter($event)"></app-input-filter>
    <div class="message">
      <p class="text-success">{{ message }}</p>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="filteredProduct.length > 0; else notFilteredProduct">
        <tr *ngFor="let product of filteredProduct, let i = index;">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.name}}</td>
          <td><img [width]="widthImage" src="{{product.image}}" alt=""></td>
          <td>{{ product.price | currency}}</td>
          <td>{{ product.desc}}</td>
          <td><app-start [rating]="product.rating"
          (clickStar)="onRatingClicked($event)"></app-start></td>
          <td>
            <ng-container *ngIf="product.active; else disable">
              <p class="text-success">Active</p>
            </ng-container>
            <ng-template #disable>
              <p class="text-secondary">Disable</p>
            </ng-template>
          </td>
        </tr>
        </ng-container>
        <ng-template #notFilteredProduct>
          <tr>
            <td colspan="7" class="text-center text-secondary">Not data</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
