<h1>{{ pageTitle }}</h1>
<div class="card">
  <div class="card-header">
    Products list
  </div>
  <div class="card-body">
    <form [formGroup]="addProductForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"
               formControlName="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="text-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name co 3 ky tu tro len
          </div>
        </div>


      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" formControlName="price">
      </div>
      <div class="form-group">
        <label>Desc</label>
        <input type="text" class="form-control" formControlName="desc">
      </div>
      <div class="form-group">
        <label>Status</label>
        <select class="form-control" formControlName="status">
          <option value="1">Active</option>
          <option value="0">Disable</option>
        </select>
      </div>
      <button [disabled]="!addProductForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
